// JOIN :: START

section#join.join
  .c-grid
    .join__wrapper
      .join__wrapper-left
        p.join__subtitle.subtitle!= "Our artists"
        h1.join__title.title.title--dark!= "Join the Roster"

      .join__wrapper-right
        .join__btn-group
          a.join__btn.btn.btn--blue(
            href="#"
            title="" class=""
          )!= "FIND OUT MORE"
          a.join__btn.btn.btn--dark(
            href="#"
            title="" class=""
          )!= "OUR ARTISTS"

    .join__line

// JOIN :: END