// AR :: START

section#ar.ar
  .ar__bg
    .ar__bg-top

  .c-grid
    .ar__block-wrapper
      .ar__block.ar__block-0
        .ar__block-img
          img(
            srcset="./img/img-ar.png, ./img/img-ar@2x.png 2x"
            alt="" title=""
           )
        p.ar__block-title!= "Label Services"
        p.ar__block-text!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim..."

      .ar__block.ar__block-1
        .ar__block-img
          img(
            srcset="./img/img-ar.png, ./img/img-ar@2x.png 2x"
            alt="" title=""
           )
        p.ar__block-title!= "Creative Services"
        p.ar__block-text!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim..."

      .ar__block.ar__block-2
        .ar__block-img
          img(
            srcset="./img/img-ar.png, ./img/img-ar@2x.png 2x"
            alt="" title=""
           )
        p.ar__block-title!= "A&R"
        p.ar__block-text!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim..."


// AR :: END