// DIGITAL :: START

section#digital.digital
  .digital__bg
  .c-grid
    .digital__wrapper
      .digital__wrapper-left
        .digital__svg-wrap
          img.svg(
            src="./img/services-drop-img.svg"
            alt="" title=""
          )

        .digital__line.digital__line-0
        .digital__line.digital__line-1
        .digital__line.digital__line-2

        p.digital__subtitle!= "Let’s talk about your music!"

        .digital__form
          form(action="" method="" autocomplete="off").form
            .form__field-group
              .form__field.form__field-input
                input.form__input(type="text" name="" placeholder="Name")

              .form__field.form__field-input
                input.form__input(type="text" name="" placeholder="Telephone")

            .form__field.form__field-input
              input.form__input(type="text" name="" placeholder="Email Address")

            .form__field.form__field-btn
              button.form__btn.btn.btn--blue(type="submit")!= "FIND OUT MORE"

      .digital__wrapper-right

        .digital__info
          p.digital__info-title!= "Digital Playlisting"
          p.digital__info-text!= "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident Ut enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu Ut enim ad minim veniam"

// DIGITAL :: END